<div class="card rounded-0 hover-shadow border-bottom-0 border-top-0 border-left-0 border-right-0">
  <img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
  <div class="card-body">
    <h4 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ .Summary | truncate 100 }}</p>
  </div>
  <div class="card-body border-top">
    {{ range where site.RegularPages "Title" "in" .Params.Faculty }}
      <a href="{{ .RelPermalink }}">
        <img class="mr-4 img-fluid faculty-thumb-xs rounded-circle" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
      </a>
    {{ end }}
  </div>
</div>