{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- discipline thumb -->
        <img style="height: 500px;width: 100%;object-fit: contain;" src="{{ .Params.Image | relURL }}"
          class="img-fluid w-100">
      </div>
    </div>
    <!-- discipline info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-12 order-1 col-sm-12 mb-12 mb-xl-0">
        <h2>{{ .Title }}</h2>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- discipline details -->
    <div class="row">
      <div class="col-12 mb-4 content">
        {{ .Content }}
      </div>
      <!-- faculty -->
      <div class="col-12">
        <h5 class="mb-3">{{ i18n "faculty" }}</h5>
        {{ range where site.RegularPages "Title" "in" .Params.Faculty }}
        <div class="faculty-box d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0 align-items-center">
            <img class="mr-4 img-fluid faculty-thumb-sm" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
            <div class="media-body">
              <h4 class="mt-0"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
              {{ .Params.Discipline }}
            </div>
          </div>
          <div class="social-link">
            <h6 class="d-none d-sm-block text-right">{{ i18n "contact_info" }}</h6>
            <ul class="list-inline">
              {{ range .Params.Contact }}
              {{ if and (not (eq .link "#")) (not (eq .link "")) }}
              <li class="list-inline-item"><a class="d-inline-block text-light p-1" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
        <div class="border-bottom border-primary mt-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

{{ end }}
